{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block body %}
<h1>Card game - Sorted deck</h1>

{% for card in cards %}
    <p>{{ card.getSymbol() }}</p>
{% endfor %}

{% endblock %}