{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block body %}
<h1>Card game - Documentation</h1>

<h3 class="center">Flödesschema</h3>
<img class="uml" src="{{ asset('img/flow_schema.png') }}" alt="Flödesschema">

<p>
    
</p>

{% endblock %}