{% extends "base.html.twig" %}

{% block title %}Magic number{% endblock %}

{% block body %}
    <div class="center">
        <h1>Magic number</h1>
        <p>Welcome to my awesome magical homepage.</p>
        <p>This is the current magic number: {{ number }}</p>
        <img class="number-pic" src="{{ asset('img/number.jpg') }}" alt="Bild på nummer">
    </div>
{% endblock %}
