{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edit Book</h1>

    {{ form_start(form, { method: 'POST' }) }}
        {{ form_widget(form) }}
        <br>
        <button type="submit" class="btn btn-primary">Save Changes</button>
    {{ form_end(form) }}
    <br>
    <a href="{{ path('library_show', {'id': book.id}) }}">Back to Book Details</a>
{% endblock %}