{# templates/book/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>My Library</h1>

    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Info</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
                <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td><a href="{{ path('library_show', { 'id': book.id }) }}">Book info</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('library_add') }}">Add a new book</a>
{% endblock %}