
{% extends "project/base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <div class="main">
        <div class="content">
            <h1>About site</h1>
            <p>
                På denna webbplats ser du ett projekt som är gjort för kursen 'DV1608 V23 lp4 Objektorienterade webbteknologier'.
                Projektet som valdes att göra var ett kortspel som ofta finns på Kasino i namnet Blackjack.
            </p>
            <p>
                Det handlar om att försöka vinna över dealern i form av sina poäng man har på korten i sin hand tillsammans. Korten mellan 
                2 och 10 ger samma poäng som talet är, medan knekt, dam och kung ger också 10. Ett ess kan vara både 11 och 1
                beroende på ifall man blir "tung" eller inte. Som spelare får man välja själv ifall man är nöjd med sina kort eller vill plocka
                ett till kort och på så sätt försöka komma närmare 21.
                Genom att få 21 poäng vinner man oavsett, annars gäller det att ha under 21 poäng och samtidigt ha mer än dealern. 
                Lyckas man få över 21 poäng blir man "tung" och förlorar direkt. 
                Dealern kan också bli "tung" vilket är därför man vill försöka stanna under 21 på alla tänkbara sätt man kan.
            </p>
            <p>
                Sidan är gjord av Elias Andersson (elan19) på BTH.
            </p>
        </div>
    </div>
{% endblock %}