
{% extends "project/base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <h1>PROOOOJECT ABOUUUUT</h1>
    <p>
        text
    </p>
    <p>
        text
    </p>
{% endblock %}